<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Meeting Setter Web App</display-name>
  
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
   




<!-- Page Mappings -->  
<servlet>   
<servlet-name>LoginPage</servlet-name>  
<jsp-file>/login.jsp</jsp-file>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>LoginPage</servlet-name>  
<url-pattern>/login</url-pattern>  
</servlet-mapping>  



 <servlet>   
<servlet-name>MyProfile</servlet-name>  
<jsp-file>/myProfile.jsp</jsp-file>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>MyProfile</servlet-name>  
<url-pattern>/myProfile</url-pattern>  
</servlet-mapping>  

<servlet>   
<servlet-name>CreateAccount</servlet-name>  
<jsp-file>/createAccount.jsp</jsp-file>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>CreateAccount</servlet-name>  
<url-pattern>/register</url-pattern>  
</servlet-mapping>  

 <servlet>   
<servlet-name>SuccessPage</servlet-name>  
<jsp-file>/Success.jsp</jsp-file>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>SuccessPage</servlet-name>  
<url-pattern>/Success</url-pattern>  
</servlet-mapping>  
  
 
 <servlet>   
<servlet-name>ForgetPassword</servlet-name>  
<jsp-file>/forgetPassword.jsp</jsp-file>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>ForgetPassword</servlet-name>  
<url-pattern>/forgetPassword</url-pattern>  
</servlet-mapping>  

 


 <servlet>   
<servlet-name>ViewProfile</servlet-name>  
<jsp-file>/viewProfile.jsp</jsp-file>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>ViewProfile</servlet-name>  
<url-pattern>/viewProfile</url-pattern>  
</servlet-mapping>  


 <servlet>   
<servlet-name>ScheduleMeeting</servlet-name>  
<jsp-file>/scheduleMeeting.jsp</jsp-file>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>ScheduleMeeting</servlet-name>  
<url-pattern>/scheduleMeeting</url-pattern>  
</servlet-mapping>  

<servlet>   
<servlet-name>Notifications</servlet-name>  
<jsp-file>/notifications.jsp</jsp-file>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>Notifications</servlet-name>  
<url-pattern>/notifications</url-pattern>  
</servlet-mapping>  

 <servlet>   
<servlet-name>JoinMeeting</servlet-name>  
<jsp-file>/joinMeeting.jsp</jsp-file>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>JoinMeeting</servlet-name>  
<url-pattern>/joinMeeting</url-pattern>  
</servlet-mapping>  



 <servlet>   
<servlet-name>MyMeetings</servlet-name>  
<jsp-file>/myMeetings.jsp</jsp-file>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>MyMeetings</servlet-name>  
<url-pattern>/myMeetings</url-pattern>  
</servlet-mapping> 


<servlet>   
<servlet-name>FriendList</servlet-name>  
<jsp-file>/friendList.jsp</jsp-file>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>FriendList</servlet-name>  
<url-pattern>/friendList</url-pattern>  
</servlet-mapping> 

<servlet>   
<servlet-name>MySchedule</servlet-name>  
<jsp-file>/mySchedule.jsp</jsp-file>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>MySchedule</servlet-name>  
<url-pattern>/mySchedule</url-pattern>  
</servlet-mapping> 



<servlet>   
<servlet-name>FriendRequests</servlet-name>  
<jsp-file>/friendRequests.jsp</jsp-file>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>FriendRequests</servlet-name>  
<url-pattern>/friendRequests</url-pattern>  
</servlet-mapping> 




<!-- Servlet Mappings -->


<servlet>   
<servlet-name>LogoutServletCall</servlet-name>  
<servlet-class>com.servlets.LogoutServlet</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>LogoutServletCall</servlet-name>  
<url-pattern>/logout</url-pattern>  
</servlet-mapping>  


<servlet>   
<servlet-name>ViewProfileServlet</servlet-name>  
<servlet-class>com.servlets.ViewProfileServlet</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>ViewProfileServlet</servlet-name>  
<url-pattern>/viewProfileServlet</url-pattern>  
</servlet-mapping> 

  
  


 <servlet>   
<servlet-name>LoginServlet</servlet-name>  
<servlet-class>com.servlets.LoginServlet</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>LoginServlet</servlet-name>  
<url-pattern>/loginServlet</url-pattern>  
</servlet-mapping> 


<servlet>   
<servlet-name>VerifyOtpServlet</servlet-name>  
<servlet-class>com.servlets.verifyOtpServlet</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>VerifyOtpServlet</servlet-name>  
<url-pattern>/verifyOtpServlet</url-pattern>  
</servlet-mapping>  
  
  
 <servlet>   
<servlet-name>RegisterServlet</servlet-name>  
<servlet-class>com.servlets.RegisterServlet</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>RegisterServlet</servlet-name>  
<url-pattern>/registerServlet</url-pattern>  
</servlet-mapping>    
  
<servlet>   
<servlet-name>MailServlet</servlet-name>  
<servlet-class>com.servlets.MailServlet</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>MailServlet</servlet-name>  
<url-pattern>/mailServlet</url-pattern>  
</servlet-mapping>  
  
<servlet>   
<servlet-name>JoinMeetingServlet</servlet-name>  
<servlet-class>com.servlets.JoinMeetingServlet</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>JoinMeetingServlet</servlet-name>  
<url-pattern>/joinMeetingServlet</url-pattern>  
</servlet-mapping>    
  

  <servlet>   
<servlet-name>UpdateServlet</servlet-name>  
<servlet-class>com.servlets.ProfileUpdate</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>UpdateServlet</servlet-name>  
<url-pattern>/profileUpdate</url-pattern>  
</servlet-mapping> 

  <servlet>   
<servlet-name>UpdateServletForPassword</servlet-name>  
<servlet-class>com.servlets.UpdateServlet</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>UpdateServletForPassword</servlet-name>  
<url-pattern>/updateServlet</url-pattern>  
</servlet-mapping> 
 
 <servlet>   
<servlet-name>PhotoServlet</servlet-name>  
<servlet-class>com.servlets.profilePhotoUpdate</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>PhotoServlet</servlet-name>  
<url-pattern>/profilePhotoUpdate</url-pattern>  
</servlet-mapping>  
  
  <servlet>   
<servlet-name>PhotosServlet</servlet-name>  
<servlet-class>com.servlets.coverPhotoUpdate</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>PhotosServlet</servlet-name>  
<url-pattern>/coverPhotoUpdate</url-pattern>  
</servlet-mapping>  
 
  

<servlet>   
<servlet-name>FriendRequest</servlet-name>  
<servlet-class>com.servlets.FriendRequest</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>FriendRequest</servlet-name>  
<url-pattern>/friendRequest</url-pattern>  
</servlet-mapping> 




<servlet>   
<servlet-name>AcceptRequest</servlet-name>  
<servlet-class>com.servlets.AcceptRequest</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>AcceptRequest</servlet-name>  
<url-pattern>/acceptRequest</url-pattern>  
</servlet-mapping> 




<servlet>   
<servlet-name>RejectRequest</servlet-name>  
<servlet-class>com.servlets.RejectRequest</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>RejectRequest</servlet-name>  
<url-pattern>/rejectRequest</url-pattern>  
</servlet-mapping> 


<servlet>   
<servlet-name>AcceptMeetingRequest</servlet-name>  
<servlet-class>com.servlets.AcceptMeetingRequest</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>AcceptMeetingRequest</servlet-name>  
<url-pattern>/acceptMeetingRequest</url-pattern>  
</servlet-mapping> 




<servlet>   
<servlet-name>RejectMeetingRequest</servlet-name>  
<servlet-class>com.servlets.RejectMeetingRequest</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>RejectMeetingRequest</servlet-name>  
<url-pattern>/rejectMeetingRequest</url-pattern>  
</servlet-mapping> 

<servlet>   
<servlet-name>MyScheduleDate</servlet-name>  
<servlet-class>com.servlets.MySchedule</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>MyScheduleDate</servlet-name>  
<url-pattern>/myScheduleDate</url-pattern>  
</servlet-mapping> 



<servlet>   
<servlet-name>ResetSchedule</servlet-name>  
<servlet-class>com.servlets.ResetSchedule</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>ResetSchedule</servlet-name>  
<url-pattern>/resetSchedule</url-pattern>  
</servlet-mapping>

<servlet>   
<servlet-name>ResetSchedule2</servlet-name>  
<servlet-class>com.servlets.ResetSchedule2</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>ResetSchedule2</servlet-name>  
<url-pattern>/resetSchedule2</url-pattern>  
</servlet-mapping>

<servlet>   
<servlet-name>TimeLock</servlet-name>  
<servlet-class>com.servlets.TimeLock</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>TimeLock</servlet-name>  
<url-pattern>/timeLock</url-pattern>  
</servlet-mapping>


<servlet>   
<servlet-name>SetupMeeting</servlet-name>  
<servlet-class>com.servlets.SetupMeeting</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>SetupMeeting</servlet-name>  
<url-pattern>/setupMeeting</url-pattern>  
</servlet-mapping>

<servlet>   
<servlet-name>UpdateSchedule</servlet-name>  
<servlet-class>com.servlets.UpdateSchedule</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>UpdateSchedule</servlet-name>  
<url-pattern>/updateSchedule</url-pattern>  
</servlet-mapping>  

<!-- Filters -->



 <filter>
 <filter-name>SessionFilter</filter-name>
 <filter-class>com.filters.SessionFilter</filter-class>
 </filter>
 <filter-mapping>
<filter-name>SessionFilter</filter-name>
<url-pattern>/myProfile</url-pattern>
<url-pattern>/myMeetings</url-pattern>
<url-pattern>/joinMeeting</url-pattern>
<url-pattern>/search.jsp</url-pattern>
<url-pattern>/notifications</url-pattern>
<url-pattern>/mySchedule</url-pattern>
<url-pattern>/friendList</url-pattern>
<url-pattern>/friendRequests</url-pattern>
<url-pattern>/scheduleMeeting</url-pattern>
<url-pattern>/viewProfile</url-pattern>
<url-pattern>/logout</url-pattern>
<url-pattern>/viewProfileServlet</url-pattern>
<url-pattern>/viewProfileServlet</url-pattern>
<url-pattern>/setupMeeting</url-pattern>
<url-pattern>/acceptMeetingRequest</url-pattern>
<url-pattern>/rejectMeetingRequest</url-pattern>
<url-pattern>/acceptRequest</url-pattern>
<url-pattern>/rejectRequest</url-pattern>
<url-pattern>/timeLock</url-pattern>
 </filter-mapping>
 







 
 
 <!-- Error Pages -->
 <error-page>
 <error-code>404</error-code>
 <location>/404error.jsp</location>
 </error-page>
 
 <error-page>
 <error-code>500</error-code>
 <location>/500error.jsp</location>
 </error-page>
 
 
 
 <servlet>   
<servlet-name>Error</servlet-name>  
<jsp-file>/Error.jsp</jsp-file>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>Error</servlet-name>  
<url-pattern>/Error</url-pattern>  
</servlet-mapping>  
  


 <servlet>   
<servlet-name>500Error</servlet-name>  
<jsp-file>/500error.jsp</jsp-file>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>500Error</servlet-name>  
<url-pattern>/500error</url-pattern>  
</servlet-mapping>  


  
 

 
</web-app>